{% extends 'base.html' %}
{% load static %}
{% block contenido %}
	
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EstateAgency</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<section class="intro-single">

	<form method= "POST" action="{% url 'publicacion:crear' %}" enctype="multipart/form-data">{% csrf_token %}
		{{form.errors}}

		<div class="container">
			<div class="wrapper wrapper--w900">
            	<div class="card card-6">
                	<div class="card-heading">
                    	<h2 class="text-center" id="actualizar"><b>Crear Publicacion</b></h2>
                	</div>

                	<div class="card-body">
                        <div class="form-row">
                            <div class="name">Precio</div>
                            	<div class="value">
                                	<input name="precio" type="text" class="input--style-6" placeholder="Ej: 200" required>
                            	</div>
						</div>

						<div class="form-row">
                            <div class="name">Descripción</div>
                            	<div class="value">
                                	<textarea name="descripcion" class="textarea--style-6" placeholder="Ej: Alquilo amplio departamento con vista al rio..." required></textarea>
                            	</div>
                        </div>

                        <div class="form-row">
                            <div class="name">Ubicación</div>
                            	<div class="value">
                                	<div class="input-group">
                                    	<input name="ubicacion" type="text" class="input--style-6" placeholder="Ej: Av Velez Sarsfield N°1354" required>
                                	</div>
                            	</div>
						</div>
						
                        <div class="form-row">
                            <div class="name">Ambientes</div>
                            	<div class="value">
                                	<div class="input-group">
                                		<input name="ambientes" type="number" class="input--style-6" required>
                                	</div>
                            	</div>
						</div>

						<div class="form-row">
                            <div class="name">Habitaciones</div>
                            	<div class="value">
                                	<div class="input-group">
                                    	<input name="habitaciones" type="number" class="input--style-6" required>
                                	</div>
                            	</div>
                        </div>

                        <div class="form-row">
                            <div class="name">Baños</div>
                            	<div class="value">
                                	<div class="input-group">
                                    	<input name="baños" type="number" class="input--style-6" required>
                                	</div>
                            	</div>
                        </div>

                        <div class="form-row">
                            <div class="name">Superficie</div>
                            	<div class="value">
                                	<div class="input-group">
                                    	<input name="superficie" type="number" class="input--style-6">
                                	</div>
                            	</div>
                        </div>


                            <div class="form-row">
                            	<div class="name">Servicios</div>
	                            	<div class="value">
	                                	<div class="input-group">
		                                    <div id="id_servicios">


											    	<label for="id_servicios_0">Internet</label>
											    	<input class="estilo_servicios" type="checkbox" name="servicios" value="1" id="id_servicios_0"><br>




											    	<br><label for="id_servicios_1">Luz</label>
											    	<input class="estilo_servicios" type="checkbox" name="servicios" value="2" id="id_servicios_1"><br>




											    	<br><label for="id_servicios_2">Agua</label>
											    	<input class="estilo_servicios" type="checkbox" name="servicios" value="3" id="id_servicios_2"><br>




											    	<br><label for="id_servicios_3">Cloaca</label>
											    	<input class="estilo_servicios" type="checkbox" name="servicios" value="4" id="id_servicios_3">


											</div>
										</div>
									</div>		
	                        </div>

	                    <div class="form-row">
                            <div class="name">Tipo Inmueble</div>
	                            <div class="value">
		                            <div class="input-group">
				                        <select name="tipo_inmueble" required="" id="id_tipo_inmueble">
										  <option value="" selected="">---------</option>
										  <option value="1">Habitación</option>
										  <option value="2">Duplex</option>
										  <option value="3">Departamento</option>
										</select>
									</div>
								</div>
						</div>

						<div class="form-row">
                            <div class="name">Imagenes</div>
                            	<div class="value">
                                	<div class="form-group" id="img"></div>
								    	<input type="file" name="imagen" accept="image/*" required="" id="id_imagen"><br>
										<a href = "#" id="boton">Agregar imagen</a>
                            	</div>
						</div>

						<input type="submit" class ="btn btn-b-n"value="Crear">

					</div>
				</div>
			</div>
		</div>

	</form>

</section>

	{% block js %}

		<script type="text/javascript">
			C=0;
			$("#boton").click(function(event){
			C+=1;
			event.preventDefault();
			var x='<label for="id_imagen">Imagen:</label><input type="file" name="imagen'+C+'" accept="image/*" required="" id="id_imagen"><br>';
			$("#img").append(x);
			});
		</script>

	{% endblock js %}

  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>

  <script src="{% static 'contactform/contactform.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

{% endblock contenido %}