{% extends 'base.html' %}

{% block contenido %}


	<form method= "POST" action="{% url 'publicacion:crear' %}" enctype="multipart/form-data">{% csrf_token %}
		
		{{form.as_p}}
		{{form.errors}}
	
	<div id="img"></div>
	<input name='AltaPublicacion' value='Submit' type="submit">
	
	<a href = "#" id="boton">agregar imagen</a>
	</form>

	{% endblock contenido %}


	{% block js %}

	<script type="text/javascript">
		C=0;
		$("#boton").click(function(event){
			C+=1;
			event.preventDefault();
			var x='<label for="id_imagen">Imagen:</label><input type="file" name="imagen'+C+'" accept="image/*" required="" id="id_imagen"><br>';
			$("#img").append(x);
		});
	</script>
	
	{% endblock js %}


