{% extends 'base.html' %}
{% load static %}
{% block contenido %}
	
<!DOCTYPE html>
<html lang="es">
<head>

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<style type="text/css">
		#id_servicios li{
			list-style: none;
		}

		#id_servicios label{
			width: 100%;
		}

		#id_servicios input{
			width: 15% !important;
			margin-left: 0px !important;
		}

	</style>

</head>

<body>
<section class="intro-single2">
	<form method= "POST" enctype="multipart/form-data">
		{% csrf_token %}

		{{form.errors}}
		<div class="container">
			<div class="wrapper wrapper--w680">
            	<div class="card card-6">
                	<div class="card-heading">
                    	<h2 class="text-center py-2" id="actualizar">Editar Publicacion</h2>
                	</div>
                	<div class="card-body">

						<div class="form-row">
                            <div class="name">Titulo</div>
                            	<div class="value">
                            		{{form.titulo}}
                            	</div>
						</div>

                        <div class="form-row">
                            <div class="name">Precio</div>
                            	<div class="value">
                            		{{form.precio}}
                            	</div>
						</div>

						<div class="form-row">
                            <div class="name">Descripción</div>
                            	<div class="value">
                            		{{form.descripcion}}
                            	</div>
						</div>

                        <div class="form-row">
                            <div class="name">Ubicación</div>
                            	<div class="value">
                            		{{form.ubicacion}}
                            	</div>
						</div>

                        <div class="form-row">
                            <div class="name">Ambientes</div>
                            	<div class="value">
                            		{{form.ambientes}}
                            	</div>
						</div>

						<div class="form-row">
                            <div class="name">Habitaciones</div>
                            	<div class="value">
                            		{{form.habitaciones}}
                            	</div>
						</div>

                        <div class="form-row">
                            <div class="name">Baños</div>
                            	<div class="value">
                            		{{form.baños}}
                            	</div>
						</div>

                        <div class="form-row">
                            <div class="name">Superficie</div>
                            	<div class="value">
                            		{{form.superficie}}
                            	</div>
						</div>


						<div class="form-row">
							<div class="col-6">		
								<div class="name">Servicios</div><br>
									<div class="row">
										<div class="col-12">
											{{ form.servicios }}
										</div>
									</div>
							</div>
							
								<div class="col-6 border-left" style="padding-left: 40px;">		
									<div class="name">Especificaciones</div>
		                            	<div class="value">
		                                	<div class="input-group">
			                                    <div>
													<br>
													<div class="row">
													<div class="col-6">
														{{form.cochera}}
														{{form.patio}}
														{{form.mascotas}}
														{{form.niños}}
													</div>
													<div class="col-6">
														<label>Cochera</label>
														<label>Patio</label>
														<label>Mascotas</label>
														<label>Niños</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>

	                    <div class="form-row">
                            <div class="name">Tipo Inmueble</div>
	                            <div class="value">
		                            <div class="input-group">
		                            	{{form.tipo_inmueble}}
									</div>
								</div>
						</div>
						<div class="form-row">
                            <div class="name">Imagenes</div>
                            	<div class="value">
                                	<div class="form-group" id="img"></div>
								    	<input type="file" name="imagen" accept="image/*" required="" id="id_imagen"><br>
										<a href = "#" id="boton">Agregar imagen</a>
                            	</div>
						</div>
						<input type="submit" class ="btn btn-b-n" value="Editar">
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

	{% block js %}

		<script type="text/javascript">
			C=0;
			$("#boton").click(function(event){
			C+=1;
			event.preventDefault();
			var x='<label for="id_imagen">Imagen:</label><input type="file" name="imagen'+C+'" accept="image/*" required="" id="id_imagen"><br>';
			$("#img").append(x);
			});
		</script>

	{% endblock js %}

  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>

  <script src="{% static 'contactform/contactform.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

{% endblock contenido %}