<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>   

<body>    
    <div>    
        <form method='GET' action="{% url 'publicacion:filtrado' %}">

            {{ inmuebles.form.as_p }}                 

            {% for obj in publicaciones.qs %}

                <p>-----------------------------------------------</p>
                <p> ID: {{ obj.publicacion_id}} </p>
                <p> Titulo: {{ obj.titulo }} </p>
                <p> Precio: {{ obj.precio }} </p>
                <p> Tipo de Inmueble: {{obj.tipo_inmueble}}</p>
                <p> Descripcion: {{obj.descripcion}}</p>
                <p> Ubicacion: {{obj.ubicacion}}</p>
                <p> Ambientes: {{obj.ambientes}}</p>
                <p> Habitaciones: {{ obj.habitaciones }} </p>
                <p> Baños: {{obj.baños}}</p>
                <p> Cochera: {{obj.cochera}}</p>
                <p> Patio: {{obj.patio}}</p>
                <p> Mascotas: {{obj.niños}}</p>
                <p> Superficie: {{obj.superficie}}</p>
                <p> Servicios: </p>
                {% for s in obj.servicios.all %}
                      <li>{{s}}</li><br>
                {% endfor %}
                
            {% endfor %}            
                         
            <button class="btn btn-primary" type="submit">Buscar</button>
        
        </form>        
    </div>
    

</body>

</html>

