{% extends 'base.html' %}

{% block contenido %}
	<h1>SOY LA PUBLICACIÓN</h1>>

			<p>PRECIO: {{p.precio}}</p>
			<p>DESCRIPCION: {{p.descripcion}}</p>
			<p>UBICACION: {{p.ubicacion}}</p>
			<p>AMBIENTES: {{p.ambientes}}</p>
			<p>HABITACIONES: {{p.habitaciones}}</p>
			<p>BAÑOS: {{p.baños}}</p>
			<p>COCHERA: {{p.cochera}}</p>
			<p>PATIO: {{p.patio}}</p>
			<p>MASCOTAS: {{p.mascotas}}</p>
			<p>NIÑOS: {{p.niños}}</p>
			<p>SUPERFICIE: {{p.superficie}}</p>
			<p>SERVICIOS: {{p.servicios}}</p>
			<p>MASCOTAS: {{p.mascotas}}</p>
			<p>TIPO_INMUEBLE: {{p.tipo_inmueble}}</p>

			{% for p in imagenes %}
			<p>{p.img}</p>
			{% endfor %}
<!-- 
			<img src= "{{p.img.url}}" width="100" height="100">  -->
			
		
<!-- 			<a href= "{% url 'propiedades:editar' p.codigo %}">EDITAR PUBLICACION</a>

			<form method= "POST" action="{% url 'propiedades:borrar' p.codigo %}">{% csrf_token %}
			<button type="submit">ELIMINAR PROPIEDAD</button> -->





{% endblock %}