{% extends 'base.html' %}
{% load static %}


{% block contenido %}


<!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{publicacion.titulo}}</h1>
            <span class="color-text-a">{{publicacion.ubicacion}}</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'mapas:mostrar' publicacion.publicacion_id %}">Mapa</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'publicacion:propiedades' %}">Propiedades</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{publicacion.tipo_inmueble}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">

            {% for m in publicacion.mostrarTodas %}
              <div class="carousel-item-b">
                <img style="text-align: center; margin-left: auto; margin-right: auto; width: 50%;" src= "{{m.img.url}}">
              </div>
            {% endfor %}

          </div>
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="ion-money">$</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c">{{publicacion.precio}}</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Especificaciones</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Ubicacion:</strong>
                      <span>{{publicacion.ubicacion}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tipo de Inmueble:</strong>
                      <span>{{publicacion.tipo_inmueble}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Superficie:</strong>
                      <span>{{publicacion.superficie}}
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Habitaciones:</strong>
                      <span>{{publicacion.habitaciones}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baños:</strong>
                      <span>{{publicacion.baños}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Cochera:</strong>
                      {% if publicacion.cochera %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Patio:</strong>
                      {% if publicacion.patio %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Niños:</strong>
                      {% if publicacion.niños %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Mascotas:</strong>
                      {% if publicacion.mascotas %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Descripción</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  {{publicacion.descripcion}}
                </p>
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Servicios Incluidos</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                  {% for s in publicacion.servicios.all %}
                      <li style="width: 100%">{{s}}</li><br>
                  {% endfor %}
                </ul>
              </div>
<!-- ------------------------------------ -->
                  <div class="row section-t3">
                    <div class="col-sm-12">
                      <div class="title-box-d">
                        <h3 class="title-d">Acciones</h3>
                      </div>
                    </div>
                  </div>
                {% if user.is_authenticated %}
                  <form method="POST">
                  {% csrf_token %}
                      <div class= "like color-text-a cursor-pointer d-flex w-100" style="width: 100%; font-family: sans-serif;color: #FF7D1B" data-type="favorito" data-id="{{publicacion.publicacion_id}}" data-action="marcador">
                        <i class="like fas fa-thumbs-down fa-2x" ></i>
                        <h2 class="ml-3">  Quitar Favorito</h2>
                      </div>
                  </form>
                {% endif %}
            </div>
          </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row section-t3">
      <div class="col-sm-12">
        <div class="title-box-d">
          <h3 class="title-d">Operaciones</h3>
        </div>
      </div>
    </div>
    <div class="row " style="justify-content: center; ">
        <div class="title-box-d mx-2">
          <a class="btn btn-b-n" href="{% url 'favoritos:favPerfil' publicacion.publicacion_id %}">Ver los favoritos</a>
        </div>


        {% if publicacion.usuario == request.user %}
        <div class="title-box-d mx-2">
          <a class="btn btn-b-n" href="{% url 'publicacion:editar' publicacion.publicacion_id %}">Editar Publicacion</a>
        </div>

        <div class="title-box-d mx-2">
          <form method= "POST" action="{% url 'publicacion:borrar' publicacion.publicacion_id %}">{% csrf_token %}
            <button type="submit" class="btn btn-b-n">Eliminar Publicacion</button>
          </form>
        </div>
    </div>
        {% endif %}
</div>
        </div>

          </div>

            </form>

            </div>
            
          </div>
        </div>
            </section>



        <div class="col-md-10 offset-md-1" style="padding-top: 48px;">
          <div class="title-box-d">
                    <h3 class="title-d">Añade tu comentario</h3>
                  </div>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{reseña_form.as_p}}
                <input type="submit" value="Publicar" class="btn btn-b-n">
            </form>

              <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content">
            <div class="title-box-d">
                <h3 class="title-d">Comentarios</h3>
            </div>
          </div>
        </div>
      </div>
      <div id="testimonial-carousel" class="owl-carousel owl-arrow">

        {% for r in publicacion.getReseñas %}
        <div class="carousel-item-a">
          <div class="testimonials-box">

              <div class="col-sm-12 col-md-6" style="max-width: 100%">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    {{r.mensaje}}<br>
                    {{r.fecha_creacion}}
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{{r.usuario.getPerfil.imagen.url}}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">{{ r.usuario }}</h5>
                </div>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


              <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Contacta al Propietario</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <img src="{{publicacion.usuario.getPerfil.imagen.url}}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent">{{publicacion.usuario.first_name}} {{publicacion.usuario.last_name}}</h4>
                <p class="color-text-a">
                  {{publicacion.usuario.getPerfil.descripcion}}
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Teléfono:</strong>
                    <span class="color-text-a">{{publicacion.usuario.getPerfil.telefono}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a">{{publicacion.usuario.email}}</span>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>


        </div>

      </div>
    </div>
  </section>


  <!--/ Property Single End /-->

  <script>

    var like = document.getElementsByClassName("like");
      $('.like').click(() => {
        $('.like i').toggleClass("fa-thumbs-down").toggleClass('fa-thumbs-up');
        if ($('.like h2').text()== ' Quitar Favorito'){
            $('.like h2').text(' Añadir Favorito')
        }else{
          $('.like h2').text(' Quitar Favorito');

        }
      })
</script>



<script type="text/javascript">

    function crear_favorito(){
      console.log("Funcionando");
      var current = $(this);
      var type = current.data("type");
      var pk = current.data('id');
      var action = current.data('action');
    
    
      $.ajax({
        url : "/Favoritos/marcar/" + type + "/" + pk + "/" + action + "/",
        type : "GET",
        date : {'objeto' : pk},

        success : function(json){
          console.log(json)

          }

      });
      return false;
    }

    $(function(){
      $('[data-action="marcador"]').click(crear_favorito)
    });

</script>


{% endblock %}