{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yango</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!--   <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- ------------Import Ajax------------ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ------------------------ -->


  <!-- Main CSS-->
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Buscar Propiedad</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">

      <form class="form-a" method='GET' action="{% url 'publicacion:filtrado' %}">
        <div class="row">
          
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label>Tipo de Inmueble:</label>
              <select class="form-control form-control-lg form-control-a" name="tipo_inmueble" id="id_tipo_inmueble">
                <option value="" selected="">---------</option>
                <option value="1">Departamento</option>
                <option value="2">Casa</option>
                <option value="3">Habitación</option>
                <option value="4">Duplex</option>
              </select>
              {% comment %}
                <!-- {{formulario.tipo_inmueble}} -->
              {% endcomment %}
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label>Zona:</label>
              <select class="form-control form-control-lg form-control-a" name="ubicacion" id="id_ubicacion">
                <option value="" selected="">---------</option>
                <option value="1">Villa San Martín</option>
                <option value="2">Centro</option>
                <option value="3">Zona UNNE</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <p>
                <label for="id_precio__lte">Precio (máximo):</label>
                <input type="number" name="precio__lte" step="any" id="id_precio__lte" class="form-control form-control-lg form-control-a">
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <p>
                <label for="id_ambientes__gte">Ambientes (mínimo):</label>
                <input type="number" name="ambientes__gte" step="any" id="id_ambientes__gte" class="form-control form-control-lg form-control-a">
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <p>
                <label for="id_superficie__gte">Superficie (mínimo):</label>
                <input type="number" name="superficie__gte" step="any" id="id_superficie__gte" class="form-control form-control-lg form-control-a">
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <p>
                <label for="id_baños__gte">Baños (mínimo):</label>
                <input type="number" name="baños__gte" step="any" id="id_baños__gte" class="form-control form-control-lg form-control-a">
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <p>
                <label for="id_habitaciones__gte">Habitaciones (mínimo):</label>
                <input type="number" name="habitaciones__gte" step="any" id="id_habitaciones__gte" class="form-control form-control-lg form-control-a">
              </p>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label>Servicio esencial:</label>
              <select class="form-control form-control-lg form-control-a" id="id_ubicacion">
                <option value="" selected="">---------</option>
                <option name="servicios" value="1" id="id_servicios_0">Agua</option>
                <option name="servicios" value="2" id="id_servicios_1">Luz</option>
                <option name="servicios" value="3" id="id_servicios_2">Cloaca</option>
              </select>
              <!-- <ul id="id_servicios">
                <li>
                  <label for="id_servicios_0">
                    <input type="checkbox" name="servicios" value="1" id="id_servicios_0">Agua</label>
                </li>

                <li>
                  <label for="id_servicios_1">
                    <input type="checkbox" name="servicios" value="2" id="id_servicios_1">Luz</label>
                </li>

                <li>
                  <label for="id_servicios_2">
                    <input type="checkbox" name="servicios" value="3" id="id_servicios_2">Cloaca</label>
                </li>
              </ul> -->
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="id_cochera">Cochera:</label>
              <select name="cochera" id="id_cochera" class="form-control form-control-lg form-control-a">
                <option value="" selected="">---------</option>
                <option value="true">Sí</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="id_mascotas">Mascotas:</label>
              <select name="mascotas" id="id_mascotas" class="form-control form-control-lg form-control-a">
                <option value="" selected="">---------</option>
                <option value="true">Sí</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-patio">Patio:</label>
              <select name="patio" id="id_patio" class="form-control form-control-lg form-control-a">
                <option value="" selected="">---------</option>
                <option value="true">Sí</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="id_niños">Niños:</label>
              <select name="niños" id="id_niños" class="form-control form-control-lg form-control-a">
                <option value="" selected="">---------</option>
                <option value="true">Sí</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Buscar Propiedad</button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <!--/ Form Search End /-->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{% url 'home' %}">Y⌂n<span class="color-b">Go</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'publicacion:propiedades' %}">Propiedades</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block border-right" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-b-n dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bienvenido, {{user.username}} <i class="far fa-user"></i></button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
          {% if user.propietario %}
          <a class="dropdown-item" href="{% url 'publicacion:crear' %}">Crear Publicacion</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'favoritos:fav' %}">Ver Favoritos</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'perfil:perfil' %}" class="dropdown-item">Ver Perfil</a>
          <a class="dropdown-item" href="{% url 'perfil:editar' user.pk %}">Editar Perfil</a>
        </div>
      </div>
        <a href="{% url 'logout' %}" class="btn btn-b-n border-left ">Salir <i class="fas fa-sign-out-alt"></i></a>
      </div>
      {% else %}
        <button type="button" class="btn btn-b-n border-left" data-toggle="modal" data-target="#loginModal" aria-expanded="false">Ingresar
        </button>
        <!-- Modal -->
        <div class="modal fade algo" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header border-bottom-0">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-title text-center">
                    <h4>Ingreso</h4>
                  </div>
                  <div class="d-flex flex-column text-center">
                    <form method="POST" action ="{% url 'login'%}">{%csrf_token%}
                      {{form.errors}}
        
                      <div class="form-group">
                        <input type="text" class="form-control" id="email1" name="username" placeholder="Nombre de Usuario">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password1" name="password" placeholder="Su contraseña">
                      </div>
                      <input type="submit" class="btn btn-b-n" name= "" style="width: 100%; border-radius: 20px;" value="ENTRAR"></input>
                    </form>
                    
                    <div class="text-center text-muted delimiter">Use una Red Social</div>
                    <div class="d-flex justify-content-center social-buttons">
                      <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="fa fa-twitter"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fab fa-facebook"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="fa fa-linkedin"></i>
                      </button>
                    </di>
                  </div>
                </div>
              </div>
                <div class="modal-footer d-flex justify-content-center">
                  <div class="signup-section">No es un Miembro? <a href="{% url 'perfil:registro' %}" class="color-b"> Registrarse Ahora</a></div>
                </div>
    {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
  <!--/ Nav End /-->

  {% block contenido %}

  {% endblock contenido %}

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Yango</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                "Yango es una plataforma donde podrás encontrar de forma rápida y manera sencilla tu lugar ideal, 
                es confiable y te permite el contacto directo con el propietario del inmueble que estas buscando."
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Telefono: </span> +54 9 362 442-0890 </li>
                <li class="color-a">
                  <span class="color-text-a">E-Mail: </span> Contacto@yango.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Sobre Nosotros</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Ubicación</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Administración</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Afiliados</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Política de Privacidad</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Localidades</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Puerto Vilelas</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Villa Angela</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Charata</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Fontana</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Barranqueras</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Puerto Tirol</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Sobre Nosotros</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Propiedades</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Blog</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Contacto</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright-2020
              <span class="color-a">Grupo N°10</span> Todos los Derechos Reservados.
            </p>
          </div>
          <div class="credits">
            Diseñado por <a href="https://bootstrapmade.com/">Grupo N°10</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

{% block js %}

{% endblock js %}

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Template Main Javascript File -->
  
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>