{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">

      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-1.jpg)' %}">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Barrio Los Troncos - Resistencia, Chaco H3506KLO
                      <br></p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Juan Pablo XV </span>"Av Italia  N°1850"
                      <br></h1>
                    <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Alquilar | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
<!--       <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Torres Sarmiento, 
                      <br>Resistencia Chaco</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b"> Torre A </span> <br> "Juan Domingo 
                      Perón N°1451"</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquilar | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Central Norte, Resistencia Chaco
                      <br>      </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Torre Harmony </span>"Ameghino N° 1043" </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquilar | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Ultimas Publicaciones</h2>
            </div>
            <div class="title-link">
              <a href="{% url 'publicacion:propiedades' %}">Ir a Todas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">

        {% for p in publis %}
        <div class="col-md-4" enctype="multipart/form-data" style="max-width: none;">
          <div class="card-box-a card-shadow" style="max-width: none;">
            <div class="img-box-a" >
              <img src="{{p.getImagen.img.url}}" class="img-a img-fluid" style="height: 300px; width: auto;">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a>{{p.titulo}}</a>
                  </h2>
                </div>

                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{p.precio}}</span>
                  </div>
                  <span class="ion-ios-arrow-forward"></span>
                  <a href="{% url 'publicacion:public' p.publicacion_id %}" class="ir">Ir a la publicacion</a><br>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Superficie</h4>
                      <span>{{p.superficie}}
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habitaciones</h4>
                      <span>{{p.habitaciones}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>{{p.baños}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Cochera</h4>
                      {% if p.cochera %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Property End /-->

  <!--/ Agents Star /-->
  <section class="section-agents section-t8" style="margin-bottom: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Algunos Usuarios</h2>
            </div>
          </div>
        </div>
      </div>

<div class="row">
        {% for m in usuarios %}
        <div class="col-md-4" enctype="multipart/form-data">
          <div class="card-box-d">
            <div class="card-img-d photo-wrapper" style="height: 400px; display: inline-block;">
              <img src="{{m.getPerfil.imagen.url}}" alt="" class="img-d" style="object-fit: cover; object-position: top;display: block; height: 100%; width: 100%;">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a class="link-two">{{m.first_name}}
                      <br> {{m.last_name}}</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">{{m.getPerfil.descripcion}}</p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Teléfono: </strong>{{m.getPerfil.telefono}}</p>
                  <p>
                    <strong>Email: </strong>{{m.email}}</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
{% endfor %}
      </div>
    </div>
    </div>
  </section>
  <!--/ Agents End /-->

  <!--/ Testimonials Star /-->

  <!--/ Testimonials End /-->

  {% endblock %}