{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-1.jpg)' %}">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Barrio Los Troncos - Resistencia, Chaco H3506KLO
                      <br></p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Juan Pablo XV </span>"Av Italia  N°1850"
                      <br></h1>
                    <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Alquilar | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Torres Sarmiento, 
                      <br>Resistencia Chaco</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b"> Torre A </span> <br> "Juan Domingo 
                      Perón N°1451"</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquilar | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Central Norte, Resistencia Chaco
                      <br>      </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Torre Harmony </span>"Ameghino N°1043" </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquilar | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Ultimas Publicaciones</h2>
            </div>
            <div class="title-link">
              <a href="{% url 'publicacion:propiedades' %}">Ir a Todas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">

        {% for p in publis %}
        <div class="col-md-4" enctype="multipart/form-data" style="max-width: none;">
          <div class="card-box-a card-shadow" style="max-width: none;">
            <div class="img-box-a" >
              <img src="{{p.getImagen.img.url}}" class="img-a img-fluid" style="height: 300px; width: auto;">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{p.titulo}} 
                      <br> {{p.ubicacion}}</a>
                  </h2>
                </div>

                <div class="card-body-a">
                  <div class="rate-stars">
                    <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                  </div>
                  <div class="price-box d-flex">
                    <span class="price-a">alquila | {{p.precio}}</span>
                  </div>
                  <span class="ion-ios-arrow-forward"></span>
                  <a href="{% url 'publicacion:public' p.publicacion_id %}" class="ir">Ir a la publicacion</a><br>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Superficie</h4>
                      <span>{{p.superficie}}
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habitaciones</h4>
                      <span>{{p.habitaciones}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>{{p.baños}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Cochera</h4>
                      {% if p.cochera %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Property End /-->

  <!--/ Agents Star /-->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Propietarios Destacados</h2>
            </div>
            <div class="title-link">
              <a href="{% url 'perfil:perfil' %}">Todos los Propietarios
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        {% for m in favs %}
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d" style="width: 300px; height: 400px">
              <img src="{{m.usuario.getPerfil.imagen.url}}" alt="" class="img-d" style="height: 100%; width: auto;">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#" class="link-two">{{m.usuario.first_name}}
                      <br> {{m.usuario.last_name}}</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">{{m.usuario.getPerfil.descripcion}}</p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Telefono: </strong>{{m.usuario.getPerfil.telefono}}</p>
                  <p>
                    <strong>Email: </strong>{{m.usuario.email}}</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                   <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
    </div>
  </section>
  <!--/ Agents End /-->

  <!--/ Testimonials Star /-->
  <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Reseñas</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="testimonial-carousel" class="owl-carousel owl-arrow">
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="{% static 'img/testimonial-1.jpg' %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Alto dpto.
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{% static 'img/mini-testimonial-1.jpg' %}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">YonIii</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="{% static 'img/testimonial-2.jpg' %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    "He utilizado muchas plataformas para concilar un alquiler, pero entre el trabajo, los estudios y mi escaso tiempo me era muy difcil
                    poder coordinar con el dueño de las propiedades para poder conocerlas, pero con Yango estoy fue mucho mas facil y rapido, tengo Todo
                    a la mano, desde que servicios tiene disponibles hasta si podré estacionar mi vehiculo en un lugar seguro, lo recomiendo."
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{% static 'img/mini-testimonial-2.jpg' %}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Cristian</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Testimonials End /-->

  {% endblock %}