
{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	
	<h1>PROPIEDADES</h1>
			

	{% for p in object_list %}
			
			<p>PRECIO: {{p.precio}}</p>
			<p>DESCRIPCION: {{p.descripcion}}</p>
			<p>UBICACION: {{p.ubicacion}}</p>
			<p>AMBIENTES: {{p.ambientes}}</p>
			<p>HABITACIONES: {{p.habitaciones}}</p>
			<p>BAÑOS: {{p.baños}}</p>
			<p>COCHERA: {{p.cochera}}</p>
			<p>PATIO: {{p.patio}}</p>
			<p>MASCOTAS: {{p.mascotas}}</p>
			<p>NIÑOS: {{p.niños}}</p>
			<p>SUPERFICIE: {{p.superficie}}</p>
			<p>SERVICIOS: {{p.servicios}}</p>
			<p>MASCOTAS: {{p.mascotas}}</p>
			<p>TIPO_INMUEBLE: {{p.tipo_inmueble}}</p><br><br>

			
				<img src= "{{p.img.url}}" width="100" height="100">
		
			 <a href="{% url 'publicacion:publi' %}">IR A LA PUBLICACION</a><br> 

		{% endfor %}
		

		<a href="{% url 'publicacion:crear' %}">CREAR PUBLICACION</a><br>
		

	{% endblock %}
