{% extends 'base.html'%}

{% block contenido %}

<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Tus Favoritos</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Propiedades
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">

{% for marcar in favoritos %}
        <div class="col-md-4" enctype="multipart/form-data">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src= "{{marcar.objeto.getImagen.img.url}}" class="img-a img-fluid">
              {% comment %}
              <!-- <img src="{% static 'img/property-1.jpg' %}" alt="" class="img-a img-fluid">  -->
              {% endcomment %}
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">204 Mount
                      <br /> {{marcar.objeto.ubicacion}}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">alquila | {{marcar.objeto.precio}}</span>
                  </div>
                  <span class="ion-ios-arrow-forward"></span>
                  <a href="{% url 'publicacion:public' marcar.objeto.publicacion_id %}" class="ir">Ir a la publicacion</a><br>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Superficie</h4>
                      <span>{{marcar.objeto.superficie}}
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habitaciones</h4>
                      <span>{{marcar.objeto.habitaciones}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{marcar.objeto.baños}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Cochera</h4>
                      {% if marcar.objeto.cochera %}
                        <span>Si</span>
                      {% else %}
                        <span>No</span>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </section>


{% endblock %}
