{% extends 'base.html' %}
{% load static %}


{% block contenido %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{user.first_name}} {{user.last_name}}</h1>
            <span class="color-text-a">
              {% if user.propietario %}
              Propietario
              {% else%}
              Usuario
            </span>
            {% endif %}
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Propietario</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{user.first_name}} {{user.last_name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single" style="margin-bottom: 50px">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{{user.getPerfil.imagen.url}}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h3 class="title-d">{{user.username}}
                      <br></h3>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    {{user.getPerfil.descripcion}}
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Telefono: </strong>
                      <span class="color-text-a"> {{user.getPerfil.telefono}}</span>
                    </p>
                    <p>
                      <strong>Correo Electronico: </strong>
                      <span class="color-text-a"> {{user.email}}</span>
                    </p>
                  </div>
                </div>
                <div class="socials-footer">
                  <ul class="list-inline">
                    {% if user.getPerfil.facebook %}
                    <li class="list-inline-item">
                      <a href="{{user.getPerfil.facebook}}" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    {% endif %}

                    {% if user.getPerfil.twitter %}
                    <li class="list-inline-item">
                      <a href="{{user.getPerfil.twitter}}" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    {% endif %}

                    {% if user.getPerfil.instagram %}
                    <li class="list-inline-item">
                      <a href="{{user.getPerfil.instagram}}" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    {% endif %}

                    {% if user.getPerfil.pinterest %}
                    <li class="list-inline-item">
                      <a href="{{user.getPerfil.pinterest}}" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    {% endif %}

                  </ul>
                </div>
                <form method= "POST" action="{% url 'perfil:borrar' user.id %}">{% csrf_token %}
                      <button type="submit" class="btn btn-b-n">Eliminar Mi Cuenta</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->
{% endblock %}
